@model WebApp.Models.ConfigFormModel
@{
    ViewData["Title"] = "Create Configuration";
    ViewData["FormAction"] = "Create";
    ViewData["RouteId"] = null;
}

<h1>Create Configuration</h1>

<partial name="_ConfigForm" model="Model" view-data="ViewData" />
