@model WebApp.Models.PlayViewModel

<table class="board">
    @if (!Model.IsGameOver)
    {
        <thead>
            <tr>
                @for (var c = 0; c < Model.Columns; c++)
                {
                    var colAvailable = false;
                    for (var r = 0; r < Model.Rows; r++)
                    {
                        if (Model.Board[r][c] is null)
                        {
                            colAvailable = true;
                            break;
                        }
                    }
                    <th>
                        @if (colAvailable)
                        {
                            <form asp-action="Move" method="post" class="column-form">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="column" value="@c" />
                                <button type="submit" class="column-btn" title="Drop in column @(c + 1)">&#x25BC;</button>
                            </form>
                        }
                    </th>
                }
            </tr>
        </thead>
    }
    <tbody>
        @for (var r = 0; r < Model.Rows; r++)
        {
            <tr>
                @for (var c = 0; c < Model.Columns; c++)
                {
                    var cell = Model.Board[r][c];
                    var cellClass = cell switch
                    {
                        0 => "cell player-0",
                        1 => "cell player-1",
                        _ => "cell empty"
                    };
                    <td class="@cellClass">
                        <div class="piece"></div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
