<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConnectX</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <a href="/">ConnectX</a>
        <a href="/Games/New">New Game</a>
        <a href="/Games/List">Load Game</a>
        <a href="/Configs">Configurations</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
